.amarillo{
  height: 100px;
  width: 120px;
  background-color:yellow;
  border: 1px solid;
  margin:10px;
}
.azul{
  height: 100px;
  width: 120px;
  background-color:blue;
  border: 1px solid;
  margin:10px;
}
.rojo{
  height: 100px;
  width: 120px;
  background-color:red;
  border: 1px solid;
  margin:10px;
}
